.button {
    display: inline-block;
    padding: 1em 1em;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
    background-color: blue;
    border-radius: 1.5em;
    font-size: 50px;
    display: grid;
    grid-template-columns: 2, 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;

    &__transparent {
        color: blue;
        border: 1px solid blue;
        background-color: transparent;
    }
}

