$text-color: black;
$h1-color: black;
$h2-second-color: blue;
$h3-third-color: orange;
$padding-main: 50px;
$font-family: Arial, Helvetica, sans-serif;
$align-body: justify;
$align-center: center;
$align-title: center;
$size-body: 18px;
$size-h1: 30px;
$font-style: italic;

